<p>create-item works!</p>
<form (ngSubmit)="onSubmit()" [formGroup]="createItemForm"]>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" ngModel name="title">    
    </div>
    <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <input type="text" id="subtitle" class="form-control" formControlName="subtitle" name="subtitle">    
    </div>
    <div class="form-group">
        <label for="short-description">Short Description</label>
        <input type="text" id="short-description" class="form-control" ngModel name="short-description">    
    </div>
    <div class="form-group">
        <label for="long-description">Long Description</label>
        <input type="text" id="long-description" class="form-control" ngModel name="long-description">    
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="text" id="rating" class="form-control" ngModel name="rating">    
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" id="type" class="form-control" ngModel name="type">    
    </div>
    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" id="tags" class="form-control" ngModel name="tags">    
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" id="category" class="form-control" ngModel name="category">
    </div>
    <div class="form-group">
        <label for="images">Images</label>
        <input type="text" id="images" class="form-control" ngModel name="images">
    </div>
    <div class="form-group">
        <label for="link">Link</label>
        <input type="text" id="link" class="form-control" ngModel name="link">
    </div>
    <button type="submit">Submit</button>

</form>