/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
@import "./assets/scss/variables";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  height: 100%;
  font-size: 1.6rem;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.6rem;

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  .main-nav,
  footer {
    font-size: 0.8rem;
  }

  .fine-print {
    font-size: 0.6rem;
  }
}

//MAT DIALOG AKA MODAL
.cdk-global-overlay-wrapper {
  pointer-events: auto !important; // be able to scroll event
  overflow-y: scroll !important;
  // align-items: start !important; // not center the dialog
  z-index: auto !important; // remove z-index
}
// .cdk-overlay-pane {
//   // margin: 1rem;
//   z-index: 1002; // over the overlay
// }
